.new-post-block{

    position: relative;
    left:2%;
    right: 2%;
    width: 96%;
    min-height: 70%;

    overflow: scroll;
    border: 3px solid #8C0303;
    border-radius: 15px;
    box-shadow:8px 8px 0px #a12424;

    font-size: 23px;
    font-weight: 700;
}


.new-post-block .title{

    position: relative;
    top:10%;
    left: 10%;
    width: 80%;
    height: 80px;

}

.new-post-block .title .input-title{

    position: relative;
    width: 100%;
    height: 50px;

    resize: none;
    border: 3px solid #8C0303;
    border-radius: 15px;
    box-shadow:8px 8px 0px #a12424;

}

.new-post-block .content{

    position: relative;
    top:15%;
    left: 10%;
    width: 80%;
    height: 300px;

}

.new-post-block .content .input-content{

    position: relative;
    width: 100%;
    height: 270px;

    resize: none;
    border: 3px solid #8C0303;
    border-radius: 15px;
    box-shadow:8px 8px 0px #a12424;

    font-weight: 500;
    font-size: 20px;
}

.new-post-block .send-post{

    position: relative;
    top:22%;
    left: 10%;
    width: 80%;
    height: 40px;

    border: 3px solid #8C0303;
    border-radius: 15px;
    box-shadow:8px 8px 0px #a12424;

}

.new-post-block .send-post:hover{
    cursor:pointer;
    transform:translate(calc(3px), calc(3px));
    background-color: #F2AA80;
    box-shadow:3px 3px 0px #a12424;
}

