.other-user-profile-block{
    position: absolute;
    top: 30%;
    left: 15%;

    width: 70%;
    max-height: 300px;
    

    filter:alpha(opacity=50);

    border: 3px solid #8C0303;
    border-radius: 15px;
    box-shadow:8px 8px 0px #a12424;
    background-color: white;
}

.other-user-profile-block .close-button{
    position: relative;
    border: 3px solid #8C0303;
    border-radius: 5px;
    box-shadow:5px 5px 0px #a12424;

    left: 95%;
    top: 5px;
}

.other-user-profile-block .close-button:hover{
    cursor:pointer;
    background-color: #F2AA80;
    transform:translate(calc(3px), calc(3px));
    box-shadow: 2px 2px 0px #a12424;
}

.other-user-profile-block h4{
    font-weight: 700;
    text-indent: 20px;
}

.other-user-profile-block p{
    text-indent: 40px;
}


.other-user-profile-block h5{
    font-weight: 700;
    text-indent: 60px;
}

.other-user-profile-block .user-information{
    overflow-y: scroll;
    max-height: 270px;
}