.little-button {
    border: 2px solid #8C0303;
    border-radius: 5px;
    box-shadow:6px 6px 0px #a12424;
}

.little-button:hover {
    background-color: #F2AA80;
    transform:translate(calc(3px), calc(3px));
    box-shadow:3px 3px 0px #a12424;
}

.post-comment-view {
    width: 100%;
    height: 100%;
}
.post-comment-block {
    width: 100%;
    height: 75%;
    overflow-y: scroll;
}


.post-detail-block {
    position: relative;
    width: 96%;
    left: 2%;
    right: 2%;
    min-height: 300px;
    overflow: auto;

    border: 3px solid #8C0303;
    border-radius: 15px;
    box-shadow:8px 8px 0px #a12424;
    /* background-color: #D9AB9A; */
}

.post-detail-block .title {
    position: relative;

    width: 90%;
    min-height: 50px;

    margin-top: 30px;
    margin-left: 3%;
    margin-right: 7%;

    font-size: 25px;
    font-weight: 700;

}

.post-detail-block .content {
    width: 90%;
    min-height: 80px;

    margin-top: 25px;
    margin-left: 3%;
    margin-right: 7%;

    font-size: 20px;
    text-indent: 40px;
}

.post-comment-view .file-panel {
    max-width: 55%;
    margin: 10px;
    padding: 6px;
    margin-left: 20px;
    min-height: 100px;
    border: 2px solid #8C0303;
    border-radius: 13px;
    box-shadow: 2px 2px 0px #a12424;
}

.post-comment-view .file-panel .file-preview {
    margin-top: 10px;
    font-size: 50pt;
    float: left;
    display: block;
}

.post-comment-view .file-panel .file-info {
    padding: 4px;
    max-width: 70%;
    font-size: 14pt;
    font-weight: 800;
    overflow: hidden;
    float: left;
}

.post-comment-view .file-panel .file-down-btn {
    font-size: medium;
    width: 80%;
    height: 100%;
    margin: 10px;
}


.post-comment-view .file-panel .img-preview {
    min-height: 90px;
    max-height: 300px;
    float: left;
}

.post-comment-view .links-panel {
    margin: 10px;
    padding: 9px;
    min-height: 100px;
    min-width: 20%;
    max-width: 43%;
    max-height: 135px;
    border: 2px solid #8C0303;
    border-radius: 13px;
    box-shadow: 2px 2px 0px #a12424;
    overflow-x: hidden;
    overflow-y: scroll;
}

.post-comment-view .attachments-panel {
    display: flex;
}

.post-detail-block .lower-information {
    width: 90%;
    height: 50px;

    margin-top: 10px;
    margin-left: 3%;
    margin-right: 7%;
}

.post-detail-block .lower-information .date-button {
    float: right;
    margin-right: 20px;

}

.post-detail-block .lower-information .user-button {
    float: right;
    margin-right: 20px;

}

.post-detail-block .lower-information .like-button {
    float: right;
    margin-right: 20px;


}

.post-detail-block .lower-information .dislike-button {
    float: right;
    margin-right: 20px;
}

.post-detail-block .lower-information .upload-button {
    float: right;
    margin-right: 20px;
}


.my-vote-true {
    background-color: #F2AA80;
    transform:translate(calc(3px), calc(3px));
    box-shadow:3px 3px 0px #a12424;
}

.comment-block {
    position: relative;
    margin-top: 20px;
    width: 92%;
    left: 5%;
    right: 3%;
    min-height: 100px;
    overflow: auto;

    border: 3px solid #8C0303;
    border-radius: 15px;
    box-shadow:7px 7px 0px #a12424;
    /* background-color: #D9AB9A; */
}

.comment-block .content {
    width: 90%;
    min-height: 30px;

    margin: 20px;
    margin-left: 3%;
    margin-right: 7%;

    font-size: 17px;
    text-indent: 20px;
}

.comment-block .lower-information {
    width: 90%;
    height: 40px;

    margin-top: 10px;
    margin-left: 3%;
    margin-right: 7%;
}

.comment-block .lower-information .user-button {
    float: right;
    margin-right: 20px;
}

.comment-block .lower-information .date-button {
    float: right;
    margin-right: 20px;
}

.add-comment-block {
    margin-top: 25px;
    position: relative;
    width: 100%;
    height: auto;
}

.comment-main {
    height: 50px;
    display: flex;
}

.add-comment-block .comment-input {
    font-size: 20px;
    margin-left: 5%;
    width: 75%;
    height: 80%;
    resize:none;

    border: 3px solid #8C0303;
    border-radius: 10px;
    box-shadow:3px 3px 0px #a12424;
}

.add-comment-block .send-comment {
    position: relative;
    margin-left: 2%;
    font-weight: 700;
    width: 10%;
    height: 80%;

    border: 3px solid #8C0303;
    border-radius: 10px;
    box-shadow:6px 6px 0px #a12424;
}

.add-comment-block .send-comment:hover {
    background-color: #F2AA80;
    transform:translate(calc(3px), calc(3px));
    box-shadow:3px 3px 0px #a12424;
}

.comment-attachments {
    height: 50px;
    display: flex;
}

.comment-attachments textarea {
    margin-left: 5%;
    height: 40px;
    width: 40%;
    font-size: 15px;
    resize: none;
    border: 3px solid #8C0303;
    border-radius: 10px;
    box-shadow:3px 3px 0px #a12424;
}

.comment-attachments label {
    margin-left: 2%;
    font-size: medium;
    text-align: center;
    width: 160px;
    height: 40px;
    line-height: 40px;
}

.comment-attachments button {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 8pt;
}

.comment-attachments nobr {
    margin-top: 12px;
    margin-left: 10px;
    height: 50px;
    width: 17%;
    overflow: hidden;
    word-break : break-all;
}

.post-detail-block {
    position: relative;
    width: 96%;
    left: 2%;
    right: 2%;
    min-height: 300px;
    overflow: auto;

    border: 3px solid #8C0303;
    border-radius: 15px;
    box-shadow:8px 8px 0px #a12424;
}

